<script setup>
import {reactive, ref, watch} from 'vue';
  import axios from 'axios';

  let openRegisterModal = ref(false);
  let openSuccessModal = ref(false);
  let mobileMenu = ref(false);
  let registerData = reactive({
    name: '',
    login: '',
    phone: '',
    rules1: false
  })


  let registeredName = ref('')

  let error = reactive({
    name: ''
  })

  const showRegisterModal = () => {
    openRegisterModal.value = true;
  }
  const closeRegisterModal = () => {
    openRegisterModal.value = false
  }
  const showRegisteredName = () => {
    registeredName.value = ''
  }
  const clearValidation = (val) => {
    error[val] = ''
  }

  watch(() => openRegisterModal.value, (val) => {
    if(val){
      document.body.classList.add('modal-open')
    }else{
      document.body.classList.remove('modal-open')
    }
  });
  const checkValidation = () => {
    let check = true
    const cyrillicValidationRegex = /^[\u0400-\u04FF]+$/;

    if (!registerData.name) {
      error.name = "Необходимо заполнить «Имя»";
      check = false;
    } else if (!cyrillicValidationRegex.test(registerData.name)) {
      error.name = "Допускаются символы кириллицы и дефис.";
      check = false;
    }
    if(!registerData.login){
      error.login = "Необходимо заполнить «E-mail»"
      check = false
    }
    if(!registerData.phone){
      error.phone = "Необходимо заполнить «Телефон»"
      check = false
    }
    if(!registerData.rules1){
      error.rules1 = "Необходимо принять условия."
      check = false
    }

    return check
  }
  const registration = () => {
    let formData = new FormData();

    for (const key in registerData) {
      formData.append(key, registerData[key]);
    }
    if(checkValidation()){
      axios.post('https://promo-test.emlsdr.ru/backend/api/registerByEmail', formData)
          .then((response) => {
            const {data} = response
            if (data.result) {
              registeredName.value = registerData.name
              closeRegisterModal()
              openSuccessModal.value = true
              registerData = {
                name: '',
                login: '',
                phone: '',
                rules1: false
              }
            } else {
              error.login = data.error.login[0]
              error.name = data.error.name[0]
              error.phone = data.error.phone[0]
              error.rules1 = data.error.rules1[0]
            }
          })
          .catch((error) => {
            console.log(error)
          })
    }
  }



</script>

<template>
  <div class="wrapper">
    <section class="banner container">
      <header>
        <div class="banner-logo">
          <img src="images/promotion.png" alt="">
        </div>
        <nav class="mobile" :class="{'open': mobileMenu}">
            <span class="close-menu" @click="mobileMenu = false">
                <img src="images/close_registration_form.svg" alt="">
            </span>
          <ul>
            <li><a href="#">главная</a></li>
            <li><a href="#prize">призы</a></li>
            <li><a href="#">как участвовать</a></li>
            <li><a href="#">вопросы и ответы</a></li>
            <li  @click="showRegisterModal"  class="banner-menu-list-inner"><span href="#">личный кабинет</span></li>
          </ul>
        </nav>
        <span class="bars" @click="mobileMenu = true">
          <img src="images/burger.svg" alt="">
        </span>
      </header>
      <div class="banner-content">
        <span class="mobile-super-img">
            <img src="images/mobile_super.png" alt="">
        </span>
        <div class="banner-content-inner">
          <h1 class="banner-content-text">
            участвуй в акци и выигрывай призы!
          </h1>
          <span @click="showRegisterModal" class="banner-content-btn">
                        участвовать
          </span>
        </div>
        <span class="mobile-bottle-img">
                    <img src="images/mobile_bottle.png" alt="">
        </span>
        <span class="banner-mini-img bottle-img"><img src="images/bottle.png" alt=""></span>
        <span class="banner-mini-img super-img"><img src="images/super.png" alt=""></span>
        <span class="banner-mini-img card-img"><img src="images/card.png" alt=""></span>
        <span class="banner-mini-img leaf-img"><img src="images/leaf.png" alt=""></span>
        <span class="banner-mini-img mask-img"><img src="images/mask.png" alt=""></span>
      </div>
    </section>
    <section id="prize" class="section-title container">
      <h2>Выигрывай призы</h2>
    </section>
    <section class="prize-inner container">
      <div class="section-inner-title">
        <h3>Гарантированный приз</h3>
      </div>
      <div class="prize-inner-group">
        <div class="prize-inner-group-inner">
          <div class="prize-inner-group-img">
            <img src="images/group.png" alt="">
          </div>
          <div class="prize-inner-group-text">
            <p>Зарегистрируйте один чек и получите подписку Яндекс Плюс на 1 год</p>
          </div>
        </div>
      </div>
    </section>
    <section class="monthly-prize-contain container">
      <div class="section-inner-title monthly-section-title">
        <h3>Ежемесячный приз</h3>
      </div>
      <div class="monthly-prize-contain-inner">
        <div class="monthly-prize-contain-inner-block">
          <img class="monthly-prize-scooter" src="images/Scooter.png" alt="">
          <a class="monthly-prize-contain-inner-title" href="#">Электросамокат</a>
        </div>
        <div class="monthly-prize-contain-inner-block">
          <img class="monthly-prize-alisa" src="images/alisa.png" alt="">
          <a class="monthly-prize-contain-inner-title" href="#">Колонка</a>
        </div>
        <div class="monthly-prize-contain-inner-block">
          <img class="monthly-prize-watch" src="images/watch.png" alt="">
          <a class="monthly-prize-contain-inner-title" href="#">Смарт часы</a>
        </div>
      </div>
      <div class="monthly-prize-contain-btn">
        <span @click="showRegisterModal">Загрузить чек</span>
      </div>
    </section>
    <footer class="container">
      <ul>
        <li><a href="#">главная</a></li>
        <li><a href="#">призы</a></li>
        <li><a href="#">как участвовать</a></li>
        <li><a href="#">вопросы и ответы</a></li>
      </ul>
    </footer>
    <div v-if="openRegisterModal" id="registration" class="modal">
      <div class="modal-dialog">
        <div class="registration-form">
          <div class="close-registration-form" @click="closeRegisterModal">
            <img src="images/close_registration_form.svg" alt="">
          </div>
          <div class="registration-form-title">
            <h2>регистрация</h2>
          </div>
          <form action="" method="post" @submit.prevent="registration">
            <div class="registration-form-input registration-form-name">
              <label for="name">ФИО</label>
              <input
                  @input="clearValidation('name')"
                  type="text"
                  id="name"
                  placeholder="Введите ФИО"
                  :class="[
                      {'error-border' : error.name},
                      {'apply-border' : !error.name && registerData.name}
                  ]"
                  v-model="registerData.name"
              />
              <p class="input-error" v-if="error.name">{{ error.name }}</p>
            </div>
            <div class="registration-form-input registration-form-email">
              <label for="email">E-mail</label>
              <input
                  @input="clearValidation('login')"
                  type="email"
                  id="email"
                  placeholder="Введите e-mail"
                  :class="[
                      {'error-border' : error.login},
                      {'apply-border' : !error.login && registerData.login}
                  ]"
                  v-model="registerData.login"
              />
              <p class="input-error" v-if="error.login">{{ error.login }}</p>
            </div>
            <div class="registration-form-input registration-form-phone">
              <label for="phone">Телефон</label>
              <input
                  @input="clearValidation('phone')"
                  type="number"
                  id="phone"
                  placeholder="+7"
                  :class="[
                      {'error-border' : error.phone},
                      {'apply-border' : !error.phone && registerData.phone}
                  ]"
                  v-model="registerData.phone"
              />
              <p class="input-error" v-if="error.phone">{{ error.phone }}</p>
            </div>
            <div class="registration-form-input registration-form-checkbox-line">
              <div class="registration-form-checkbox">
                <div class="custom-checkbox-area">
                  <input
                      @input="clearValidation('rules1')"
                      id="agree"
                      type="checkbox"
                      v-model="registerData.rules1"
                  />
                  <label for="agree">
                    <span class="custom-checkbox"></span>
                  </label>
                </div>
                <p>Я согласен с <a href="#">правилами акции, пользовательским соглашением</a>
                  и с <a href="#">положением о конфиденциальности</a>
                </p>
              </div>
              <p class="input-error" v-if="error.rules1">{{ error.rules1 }}</p>
            </div>
            <div class="modal-action-btn">
              <button type="submit" class="registration">Зарегистрироваться</button>
            </div>
            <div class="log-in">
              <p>Есть аккаунт? <a href="#">Авторизуйся</a></p>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div id="successfully" class="modal" v-if="openSuccessModal">
      <div class="modal-dialog">
        <div class="success-registration">
          <div class="close-registration-form" @click="openSuccessModal = false">
            <img src="images/close_registration_form.svg" alt="">
          </div>
          <div class="successfully-check">
            <img src="images/successfully_check.png" alt="">
          </div>
          <div class="success-registration-title">
            <h2>Ваша регистрация прошла успешно!</h2>
          </div>
          <div class="success-registration-text">
            <p>Добро пожаловать, {{ registeredName }}!</p>
          </div>
          <div class="modal-action-btn success-registration-btn">
            <button @click="openSuccessModal = false; showRegisteredName()">Закрыть окно</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>


<style lang="scss">
*{
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
}

p{
  margin: 0;
}

ul{
  padding: 0;
  margin: 0;
}

body{
  overflow-x: hidden;
  &.modal-open {
    overflow: hidden;
  }
}

li{
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'circe-extra-light';
  src: url('../assets/fonts/CRC25.otf');
}
@font-face {
  font-family: 'circe-light';
  src: url('../assets/fonts/CRC35.otf');
}
@font-face {
  font-family: 'Circe';
  src: url('../assets/fonts/CRC55.otf');
}
@font-face {
  font-family: 'circe-bold';
  src: url('../assets/fonts/CRC65.otf');
}

.wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.container{
  width: 100%;
  padding: 0 187px;
  @media only screen and (max-width: 1440px){
    padding: 0 140px;
  }
  @media only screen and (max-width: 1366px){
    padding: 0 80px;
  }
  @media only screen and (max-width: 1024px){
    padding: 0 20px;
  }
}

.banner{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #B1C728;
  position: relative;
  overflow: hidden;
  @media only screen and (max-width: 1024px){
    justify-content: space-between;
  }
  @media only screen and (max-width: 600px){
    justify-content: flex-start;
  }
}

header{
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 42px;
  justify-content: space-between;
  @media only screen and (max-width: 1440px){
    padding-top: 30px;
    margin-bottom: 0;
  }
  @media only screen and (max-width: 1024px){
    margin-bottom: 25px;
    padding-top: 20px;
  }
  @media only screen and (max-width: 600px){
    margin-bottom: 20px;
  }
}
.banner-logo{
  width: 182px;
  height: 44px;
  img{
    width: 100%;
    height: 100%;
  }
  @media only screen and (max-width: 1440px){
    width: 136px;
    height: 32px;
  }
  @media only screen and (max-width: 1024px){
    height: 24px;
    width: 100px;
  }
}

nav{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  ul{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    li{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 53px;
      &:last-child span{
        background-color: #FFFFFF;
        color: black;
        border-radius: 14px;
        padding: 19px 27px;
        text-transform: uppercase;
        font-size: 1.25vw;
        font-family: Circe;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        text-align: center;
        cursor: pointer;
        white-space: nowrap;
        @media only screen and (max-width: 1440px){
          line-height: 24px;
          padding: 13px 20px;
          font-size: 1.25vw;
        }
        @media only screen and (max-width: 1366px){
          padding: 10px 15px;
          border-radius: 10px;
        }
        @media only screen and (max-width: 1024px){
          font-size: 2.344vw;
        }
        @media only screen and (max-width: 600px){
          font-size: 4.8vw!important;
        }
      }
      a{
        color: #000000;
        text-transform: uppercase;
        font-size: 1.25vw;
        font-family: Circe;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        text-align: center;
        white-space: nowrap;
        @media only screen and (max-width: 1440px){
          font-size: 1.25vw;
          line-height: 24px;
        }
        @media only screen and (max-width: 1024px){
          font-size: 2.344vw;
        }
        @media only screen and (max-width: 600px){
          font-size: 4.8vw;
        }
      }
      @media only screen and (max-width: 1440px){
        margin-left: 42px;
      }
      @media only screen and (max-width: 1366px){
        margin-left: 20px;
      }
    }
  }
  @media only screen and (max-width: 1024px){
    max-width: 310px;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    padding: 70px 20px;
    background-color: white;
    z-index: 5;
    align-items: flex-start;
    &.mobile{
      display: none;
      &.open{
        display: block;
        animation: appear 350ms ease-in 1;
      }
      ul{
        flex-direction: column;
        align-items: flex-start;
        li{
          margin-left: 0;
          margin-bottom: 40px;
          font-size: 1.758vw;
          &:last-child span{
            border-radius: 20px;
            background: #3C4497;
            padding: 16px 40px;
            font-size: 1.953vw;
            color: #FFFFFF;
            line-height: 20px;
          }
        }
      }
      &:after{
        content: '';
        position: absolute;
        width: 203px;
        height: 183px;
        background-image: url('../../public/images/leaf_mobile.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        bottom: 150px;
        right: -50px;
      }
    }
  }
  @media only screen and (max-width: 600px){
    padding: 62px 20px;
  }
}

.banner-content{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media only screen and (max-width: 600px){
    justify-content: space-between;
    height: 100%;
  }
}

.banner-content-inner{
  width: 577px;
  position: relative;
  z-index: 3;
  text-align: center;
  @media only screen and (max-width: 1440px){
    width: 26.875rem;
  }
  @media only screen and (max-width: 1024px){
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.banner-content-text{
  width: 100%;
  font-size: 4.8958vw;
  font-weight: 700;
  font-family: Circe;
  font-style: normal;
  line-height: 100%;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
  @media only screen and (max-width: 1920px){
    font-size: 4.8611vw;
  }
  @media only screen and (max-width: 1440px){
    line-height: 100%;
    margin-bottom: 30px;
  }
  @media only screen and (max-width: 1024px){
    font-size: 7.0833vw;
    margin-bottom: 10px;
    max-width: 400px;
  }
  @media only screen and (max-width: 600px){
    margin-bottom: 20px;
    width: 262px;
  }
}

.banner-content-btn{
  display: inline-block;
  color: #FFFFFF;
  background-color: #3C4497;
  padding: 40px 55px;
  text-transform: uppercase;
  border-radius: 14px;
  font-size: 2.083vw;
  line-height: 27px;
  font-family: Circe;
  font-weight: 700;
  font-style: normal;
  cursor: pointer;
  @media only screen and (max-width: 1440px){
    padding: 30px 40px;
    font-size: 2.083vw;
    line-height: 20px;
  }
  @media only screen and (max-width: 1366px){
    width: 100%;
  }
  @media only screen and (max-width: 1024px){
    width: 50%;
    font-size: 2.604vw;
    padding: 16px 40px;
  }
  @media only screen and (max-width: 600px){
    width: 100%;
    font-size: 5.333vw;
  }
}

.banner-mini-img{
  position: absolute;
  img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.bottle-img{
  width: 44%;
  bottom: -9px;
  left: 0px;
  transition: 0.5s;
  @media only screen and (max-width: 1600px){
    max-width: 750px;
  }
  @media only screen and (max-width: 1440px){
    max-width: 747px;
    bottom: -4px;
    left: 0;
  }
  @media only screen and (max-width: 1366px){
    width: 552px;
  }
  @media only screen and (max-width: 1024px){
    display: none;
  }
}

.super-img{
  width: 28%;
  bottom: 20px;
  right: 137px;
  z-index: 1;
  transition: 0.5s;
  @media only screen and (max-width: 1600px){
    max-width: 514px;
    right: 72px;
    bottom: 20px;
  }
  @media only screen and (max-width: 1440px){
    max-width: 465px;
    bottom: 52px;
    right: 102px;
  }
  @media only screen and (max-width: 1366px){
    width: 368px;
  }
  @media only screen and (max-width: 1200px){
    bottom: 30px;
    right: 65px;
    z-index: 1;
  }
  @media only screen and (max-width: 1024px){
    display: none;
  }
}

.card-img{
  width: 18%;
  top: 140px;
  right: 200px;
  transition: 0.5s;
  @media only screen and (max-width: 1600px){
    right: 140px;
    max-width: 310px;
  }
  @media only screen and (max-width: 1440px){
    max-width: 315px;
    top: 124px;
    right: 152px;
  }
  @media only screen and (max-width: 1366px){
    width: 248px;
    top: 180px;
  }
  @media only screen and (max-width: 1200px){
    top: 220px;
    right: 50px;
  }
  @media only screen and (max-width: 1024px){
    display: none;
  }
}

.leaf-img{
  width: 7%;
  top: 128px;
  right: 23px;
  transition: 0.5s;
  @media only screen and (max-width: 1600px){
    max-width: 145px;
    right: 6px;
  }
  @media only screen and (max-width: 1440px){
    max-width: 148px;
    top: 99px;
    right: 17px;
  }
  @media only screen and (max-width: 1366px){
    width: 112px;
    top: 120px;
    right: 3px;
  }
  @media only screen and (max-width: 1024px){
    display: none;
  }
}

.mask-img{
  right: -4px;
  bottom: 394px;
  width: 20%;
  transition: 0.5s;
  @media only screen and (max-width: 1600px){
    max-width: 324px;
    bottom: 338px;
  }
  @media only screen and (max-width: 1440px){
    right: -3px;
    bottom: 293px;
    max-width: 389px;
  }
  @media only screen and (max-width: 1366px){
    top: 390px;
    right: 10px;
    width: 296px;
  }
  @media only screen and (max-width: 1200px){
    top: unset;
    right: 10px;
    bottom: 170px;
  }
  @media only screen and (max-width: 1024px){
    display: none;
  }
}

.section-title{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 134px;
  &:before{
    content: '';
    position: absolute;
    max-width: 196px;
    width: 10%;
    height: 163px;
    background-image: url('../../public/images/Vector.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    left: 128px;
    @media only screen and (max-width: 1024px){
      display: none;
    }
  }
  h2{
    color: black;
    font-family: Circe;
    font-size: 3.646vw;
    font-style: normal;
    font-weight: 700;
    line-height: 80px;
    text-transform: uppercase;
    margin-bottom: 53px;
    @media only screen and (max-width: 1440px){
      line-height: 60px;
      font-size: 3.611vw;
      margin-bottom: 42px;
    }
    @media only screen and (max-width: 1366px){
      font-size: 3.514vw;
    }
    @media only screen and (max-width: 1024px){
      font-size: 3.646vw;
      margin-bottom: 0;
    }
    @media only screen and (max-width: 600px){
      width: 100%;
      text-align: center;
      letter-spacing: 1px;
      font-size: 7.467vw;
    }
  }
  @media only screen and (max-width: 1440px){
    padding-top: 70px;
  }
  @media only screen and (max-width: 1366px){
    padding-top: 50px;
  }
  @media only screen and (max-width: 1024px){
    padding-top: 50px;
  }
  @media only screen and (max-width: 600px){
    padding-top: 34px;
  }
}

.prize-inner{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section-inner-title{
  h3{
    display: flex;
    color: #000;
    text-align: center;
    font-family: Circe;
    font-size: 2.24vw;
    font-style: normal;
    font-weight: 700;
    line-height: 43px;
    margin-bottom: 43px;
    @media only screen and (max-width: 1440px){
      line-height: 32px;
      font-size: 2.222vw;
      margin-bottom: 26px;
    }
    @media only screen and (max-width: 1024px){
      font-size: 2.604vw;
      margin-bottom: 43px;
    }
    @media only screen and (max-width: 600px){
      margin-bottom: 37px;
      font-size: 5.333vw;
    }
  }
}

.prize-inner-group{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 70px;
  padding: 42px 0 45px 0;
  border-radius: 36px;
  background: #F6F6F6;
  @media only screen and (max-width: 1440px){
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 40px;
  }
  @media only screen and (max-width: 1024px){
    margin-bottom: 50px;
  }
  @media only screen and (max-width: 600px){
    width: 100%;
    margin-bottom: 40px;
  }
}

.prize-inner-group-inner{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 1082px;
  width: 100%;
  @media only screen and (max-width: 1440px){
    max-width: 815px;
    justify-content: flex-start;
  }
  @media only screen and (max-width: 1024px){
    justify-content: center;
  }
}

.prize-inner-group-img{
  width: 24.625rem;
  img{
    width: 100%;
    object-fit: contain;
  }
  @media only screen and (max-width: 1440px){
    max-width: 296px;
  }
  @media only screen and (max-width: 1024px){
    width: 117px;
  }
}

.prize-inner-group-text{
  width: 23.563rem;
  margin-left: 174px;
  p{
    color: #000;
    font-family: Circe;
    font-size: 1.667vw;
    font-style: normal;
    font-weight: 400;
    line-height: 43px;
    @media only screen and (max-width: 1440px){
      line-height: 32px;
      font-size: 1.667vw;
    }
    @media only screen and (max-width: 1024px){
      font-size: 2.083vw;
      line-height: 120%;
    }
    @media only screen and (max-width: 600px){
      font-size: 4.267vw;
    }
  }
  @media only screen and (max-width: 1440px){
    margin-left: 132px;
    width: 17.688rem;
  }
  @media only screen and (max-width: 1024px){
    width: 155px;
    margin-left: 25px;
  }
  @media only screen and (max-width: 600px){
    margin-left: 37px;
  }
}

.monthly-prize-contain{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 110px;
  &:after{
    content: '';
    position: absolute;
    max-width: 140px;
    width: 7%;
    height: 372px;
    background-image: url('../../public/images/limon.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    right: 0;
    top: -112px;
    @media only screen and (max-width: 1024px){
      display: none;
    }
  }
  @media only screen and (max-width: 1440px){
    margin-bottom: 79px;
  }
  @media only screen and (max-width: 1024px){
    margin-bottom: 50px;
  }
}

.monthly-prize-contain-inner{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 55px;
  margin-bottom: 70px;
  @media only screen and (max-width: 1440px){
    gap: 45px;
    margin-bottom: 42px;
  }
  @media only screen and (max-width: 1024px){
    flex-direction: column;
    gap: 15px;
  }
}

.monthly-prize-contain-inner-block{
  position: relative;
  width: calc(100% / 3 - 40px);
  max-width: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 46px 46px;
  &:before{
    content: '';
    width: 100%;
    height: 400px;
    background-color: #FFD907;
    position: absolute;
    border-radius: 36px;
    z-index: -1;
    bottom: -18px;
    @media only screen and (max-width: 1440px){
      height: 300px;
      bottom: 0;
    }
    @media only screen and (max-width: 1024px){
      height: 110px;
      border-radius: 20px;
    }
  }
  img{
    max-width: 100%;
    height: 377px;
    object-fit: contain;
    margin-bottom: 59px;
    @media only screen and (max-width: 1440px){
      height: 283px;
      margin-bottom: 45px;
      margin-top: unset;
    }
    @media only screen and (max-width: 1024px){
      height: 127px;
      margin-bottom: 12px;
    }
  }
  @media only screen and (max-width: 1440px){
    width: calc(100% / 3 - 30px);
  }
  @media only screen and (max-width: 1024px){
    width: 50%;
    max-width: none;
    flex-direction: row;
    padding: 0;
    align-items: center;
    justify-content: center;
  }
  @media only screen and (max-width: 600px){
    width: 100%;
  }
}

.monthly-prize-contain-inner-title{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  text-align: center;
  font-family: Circe;
  font-size: 1.667vw;
  font-style: normal;
  font-weight: 400;
  line-height: 43px;
  @media only screen and (max-width: 1440px){
    line-height: 32px;
    font-size: 1.667vw;
  }
  @media only screen and (max-width: 1024px){
    margin-left: 40px;
    font-size: 2.083vw;
  }
  @media only screen and (max-width: 600px){
    margin-top: 30px;
    font-size: 4.267vw;
  }
}

.monthly-prize-contain-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  span{
    padding: 27px 118px;
    background-color: #3C4497;
    border-radius: 14px;
    color: #FFFFFF;
    font-family: Circe;
    font-size: 1.667vw;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
    text-transform: uppercase;
    cursor: pointer;
    @media only screen and (max-width: 1440px){
      padding: 20px 86px;
      font-size: 1.667vw;
      line-height: 20px;
    }
    @media only screen and (max-width: 1366px){
      font-size: 1.903vw;
    }
    @media only screen and (max-width: 1024px){
      font-size: 2.604vw;
      padding: 16px 40px;
      width: 100%;
      text-align: center;
    }
    @media only screen and (max-width: 600px){
      font-size: 5.333vw;
    }
  }
  @media only screen and (max-width: 600px){
    width: 100%;
  }
}


footer{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  ul{
    display: flex;
    align-items: center;
    justify-content: center;
    li{
      display: flex;
      margin-left: 55px;
      &:last-child{
        margin-left: 0;
        @media only screen and (max-width: 1024px){
          margin-bottom: 0;
        }
      }
      a{
        color: #000;
        font-family: Circe;
        font-size: 1.25vw;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        text-transform: uppercase;
        @media only screen and (max-width: 1440px){
          font-size: 1.25vw;
          line-height: 24px;
        }
        @media only screen and (max-width: 1024px){
          font-size: 1.823vw;
        }
        @media only screen and (max-width: 600px){
          font-size: 3.733vw;
        }
      }
      @media only screen and (max-width: 1440px){
        margin-left: 42px;
      }
      @media only screen and (max-width: 1024px){
        margin-left: 0;
        margin-bottom: 30px;
      }
    }
    @media only screen and (max-width: 1024px){
      flex-direction: column;
    }
  }
  @media only screen and (max-width: 1024px){
    margin-bottom: 50px;
  }
}

.modal{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.50);
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media only screen and (max-width: 600px){
    justify-content: flex-end;
  }
}

@keyframes appear {
  0%{
    opacity: 0;
    transform: translateY(-10px);
  }
}

.modal-dialog{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: appear 350ms ease-in 1;
}

.registration-form{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 580px;
  justify-content: center;
  padding: 40px 100px;
  background-color: #FFD907;
  border-radius: 36px;
  position: relative;
  @media only screen and (max-width: 1440px){
    padding: 30px 90px;
  }
  @media only screen and (max-width: 600px){
    max-width: unset;
    border-radius: 36px 36px 0 0;
    padding: 28px 20px;
  }
}

.registration-form-title{
  padding-top: 20px;
  h2{
    color: #000;
    font-family: Circe;
    font-size: 2.292vw;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    text-transform: uppercase;
  }
  @media only screen and (max-width: 600px){
    font-size: 4.667vw;
    line-height: 28px;
  }
}

form{
  input{
    width: 100%;
    outline: none;
    border: none;
    padding: 26px 20px;
    border-radius: 14px;
    height: 60px;
    color: #000;
    font-family: Circe;
    font-size: 0.938vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    &:focus{
      border: 2px solid #3C4497;
    }
    &::placeholder{
      color: #444;
      font-family: Circe;
      font-size: 0.938vw;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      @media only screen and (max-width: 600px){
        font-size: 3vw;
        line-height: normal;
      }
    }
    @media only screen and (max-width: 600px){
      font-size: 3vw;
      line-height: normal;
    }
  }
  label{
    display: flex;
    color: #000;
    font-family: Circe;
    font-size: 0.938vw;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
  }
  p{
    color: #000;
    font-family: Circe;
    font-size: 0.938vw;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    a{
      color: #3C4497;
      text-decoration-line: underline;
    }
    @media only screen and (max-width: 600px){
      font-size: 2.667vw;
      line-height: 18px;
    }
  }
}

.registration-form-input{
  padding-top: 20px;
  label{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    &:last-child{
      margin-top: 0;
    }
    @media only screen and (max-width: 600px){
      font-size: 2.333vw;
      line-height: 20px;
    }
  }
}

.registration-form-checkbox{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.registration-form-checkbox-line{
  margin: 14px 0 20px 0;
}

.log-in{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  p{
    font-size: 1.25vw;
    @media only screen and (max-width: 600px){
      font-size: 2.667vw;
      line-height: 20px;
    }
  }
}

.custom-checkbox-area{
  display: flex;
  margin-right: 10px;
}

#agree {
  width: 0;
  height: 0;
  visibility: hidden;
  ~ label {
    .custom-checkbox {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: white;
      color: white;
      width: 24px;
      height: 24px;
      border-radius: 8px;

      &:before {
        content: '';
        width: 100%;
        height: 100%;
        background-image: url('../../public/images/checkbox.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }
    }
  }

  &:checked {
    ~ label {
      .custom-checkbox {
        background-color: #3C4497;
      }
    }
  }
}

.input-error{
  color: #FF191F;
  font-family: Circe;
  font-size: 0.729vw;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  margin-top: 10px;
}

.modal-action-btn{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  button{
    border: none;
    display: flex;
    width: 100%;
    padding: 20px 36px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 14px;
    background: #3C4497;
    color: #FFF;
    font-family: Circe;
    font-size: 1.25vw;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    cursor: pointer;
    @media only screen and (max-width: 600px){
      font-size: 3vw;
      line-height: 20px;
    }
  }
}

.close-registration-form{
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  @media only screen and (max-width: 1440px){
    position: absolute;
    top: 28px;
    right: 27px;
    cursor: pointer;
  }
}

.success-registration{
  width: 100%;
  max-width: 580px;
  background-color: #FFD907;
  border-radius: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  position: relative;
  @media only screen and (max-width: 600px){
    max-width: unset;
    border-radius: 36px 36px 0 0;
    padding: 28px 20px;
  }
}

.successfully-check{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 126px;
  height: 120px;
  img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  @media only screen and (max-width: 600px){
    width: 90px;
    height: 90px;
  }
}

.success-registration-title{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  h2{
    color: #000;
    text-align: center;
    font-family: Circe;
    font-size: 2.292vw;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    text-transform: uppercase;
    margin: 20px 0;
    @media only screen and (max-width: 600px){
      font-size: 4.667vw;
      line-height: 32px;
    }
  }
}

.success-registration-text{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 45px;
  margin-bottom: 20px;
  p{
    display: flex;
    width: 100%;
    color: #000;
    text-align: center;
    font-family: Circe;
    font-size: 1.25vw;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    align-items: center;
    justify-content: center;
    @media only screen and (max-width: 600px){
      font-size: 2.667vw;
      line-height: 18px;
    }
  }
}
.success-registration-btn{
  padding: 0 45px;
  @media only screen and (max-width: 600px){
    padding: 0;
  }
}
.bars{
  display: none;
  @media only screen and (max-width: 1024px){
    display: flex;
  }
}
.close-menu{
  display: none;
  @media only screen and (max-width: 1024px){
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
  }
  @media only screen and (max-width: 600px){
    top: 11px;
    right: 18px;
  }
}

.mobile-super-img{
  display: none;
  img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  @media only screen and (max-width: 1024px){
    display: flex;
    width: 380px;
    object-fit: contain;
    align-items: center;
  }
  @media only screen and (max-width: 600px){
    width: 343px;
    height: 230px;
  }
}

.mobile-bottle-img{
  display: none;
  img{
    @media only screen and (max-width: 1024px){
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    @media only screen and (max-width: 600px){
      margin-bottom: -15px;
      width: 240px;
      height: 226px;
    }
  }
  @media only screen and (max-width: 1024px){
    display: flex;
    width: 400px;
    align-items: center;
    justify-content: center;
  }
}

.error-border{
  border: 2px solid #FF191F;
}

.apply-border{
  border: 2px solid #3C4497;
}

.monthly-section-title{
  h3{
    @media only screen and (max-width: 1440px){
      margin-bottom: 27px;
    }
  }
}

.mobile-menu-img{
  @media only screen and (max-width: 1024px){
    width: 203px;
    height: 183px;
    object-fit: contain;
  }
}
</style>


